@mixin butn($size1, $size2, $color) {
  width: $size1;
  height: $size2;
  background-color: $color;
}

body {
    background: $contentBackground;
    margin: 0px;
}

main {
      margin: 0 auto;
      width: 960px;
}

header {
	background-image: $bgimg;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 95vh;
	border-radius: 0 0 45% 0;
}

.header-wrap {
	margin: 0 auto;
    width: 960px;
}

.landing-logo {
	display: flex;
	align-items: center;
	margin-bottom: 30px;

	img {
	margin-right: 15px;
	height: 50px;
	width: 50px;
	display: inline-block;
	}

	p {
	display: inline-block;
	text-align: center;
	font-size: 18pt;
	font-weight: 600;
	font-family: $fontFamily;
	color: map-get($colors, color1);
	} 

	span {
		display: block;
		text-align: center;
		font-size: 8pt;
		font-family: $fontFamily;
		color: map-get($colors, color1);
	}
}

.header_heading {
	display: block;
	font-size: 45pt;
	font-family: $fontFamily;
	font-weight: 1000;
	line-height: 1;
	color: map-get($colors, color1);
	width: 450px;
	margin: 20px 0px 40px 0px;

	&::after {
		content: '';
		background-color: map-get($colors, color2);
		display: block;
		height: 25px;
		width: 55%;
		z-index: -1;
		margin: -20px 0px 40px 0px;
	}
}


.header_text {
	color: $hdrTxt;
	font-family: $fontFamily1;
	white-space: pre-line;
}

.header_button {
	@include butn(120px, 40px, $hdrButn);
	border: 0;
	border-radius: 2px;
	margin-top: 40px;
	color: #fff;
	font-weight: bold;
	font-size: 14px;

	&:hover {
		background: red;
		transition: 0.3s;
	}
}

.section {
	display: flex;	
	flex-direction: column;
	align-items: center;
  	justify-content: center;
}

.section_text {
	display: block;
	text-align: center;
	font-family: $fontFamily;
	color: map-get($colors, color1);
	font-weight: 600;
	font-size: 25pt;

	&::after {
		content: '';
		background-color: map-get($colors, color2);
		display: block;
		height: 10px;
		width: 45%;	
		text-align: center;
		z-index: -1;	
		margin: -17px 0px 10px 172px;
	}
}

.section_card_wrap {
	display: flex;

	div {
		margin: 8px;
		text-align: center;
		background: map-get($colors, color3);
		color: #fff;
		border-radius: 5px;

		img {
			padding: 15px;
			border-radius: 20px; 
			width: 280px;
		}

		p:nth-child(3) {
			font-family: $fontFamily1;
			font-size: 10pt;
			line-height: 1.5;
			padding: 0px 10px 0px 10px;
			color: $lghtGray;
		}
	}
}

.section_card_heading {
	display: inline-block;
	margin: 0px 0px 0px 0px;
	font-family: $fontFamily;
	font-weight: 600;
	font-size: 15pt;
}

.section_card:nth-child(1) {
	.section_card_heading::after {
		content: '';
		background-color: map-get($colors, color2);
		display: block;
		height: 11px;
		width: 100%;	
		text-align: center;
		z-index: -1;	
		margin: -10px 0px 10px 0px;
	}
}

.section_card:nth-child(2) {
	.section_card_heading::after {
		content: '';
		background-color: map-get($colors, color2);
		display: block;
		height: 11px;
		width: 100%;	
		text-align: center;
		z-index: -1;	
		margin: -10px 0px 10px 0px;
	}
}

.section_card:nth-child(3) {
	.section_card_heading::after {
		content: '';
		background-color: map-get($colors, color2);
		display: block;
		height: 11px;
		width: 100%;	
		text-align: center;
		z-index: -1;	
		margin: -10px 0px 10px 0px;
	}
}

.section_banner {
	background: linear-gradient(to right, $hdrButn, $gradRght);
	width: 80%;
	border-radius:5px;
	margin-top: 100px;
	height: 120px;
	position: relative;
}

.section_banner_text_wrap {
	padding: 25px 80px 10px 80px;
}

.section_banner_heading {
	display: inline-block;
	margin: 0px 0px 0px 0px;
	color: $hdrTxt;
	font-family: $fontFamily;
	font-weight: 700;
	font-size: 20pt;

	&::after {
		content: '';
		background-color: map-get($colors, color2);
		display: block;
		height: 12px;
		width: 57px;
		z-index: -1;
		margin: -15px 0px 0px 106px;
	}
}

.section_banner_text {
	font-family: $fontFamily1;
	font-size: 10pt;
	color: $lghtGray;
	display: block;
}

.section_banner_button {
	@extend .header_button;
	position: absolute;
	bottom: 33%;
    right: 80px;
}

footer {
	background: map-get($colors, color3);    
	margin-top: -55px;
}

.footer-wrap {
	@extend .header-wrap;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer_logo {
	margin-top: 100px;

	p {
		color: $lghtGray;
	}

	span {
		color: $lghtGray;
	}
}

.footer_text {
	margin-top: 100px;
	width: 26%;
	color: $lghtGray;
	font-family: $fontFamily1;
	font-size: 9pt;
}

.footer-cr {
	margin-top: 100px;
	color: $lghtGray;
	font-family: $fontFamily1;
	font-size: 9pt;
}
