$contentBackground: #21232e;
$bgimg: url(../img/m-h-night.jpg);
$hdrTxt: #fff;
$hdrButn: #e3ac00;
$lghtGray: #c5c5c5;
$gradRght: #932c53;
$fontFamily: 'Source Sans Pro', sans-serif;
$fontFamily1: 'Fresca', sans-serif;

$colors: (
  color1: #fff,
  color2: #ff4e33,
  color3: #3b3f50
);