$contentBackground: #fff;
$bgimg: url(../img/m-h-day.jpg);
$hdrTxt: #3b363c;
$hdrButn: #699900;
$lghtGray: #c0c3ce;
$gradRght: #2e5cd6;
$fontFamily: 'Source Sans Pro', sans-serif;
$fontFamily1: 'Hind', sans-serif;

$colors: (
  color1: #2c2f3c,
  color2: #14a0c7,
  color3: #21232e
);

